.button {
  &--large, &--medium, &--small {
    background-color: $color-primary;
    border: 3px solid $color-secondary;
    padding: $gutter-small;
    font-size: 25px;
    margin-bottom: $gutter-small;

    &:hover {
      cursor: pointer;
    }
  }

  &--large {
    width: 100%;
  }
  &--medium {
    width: 60%;
  }
  &--small {
    width: 25%;
  }

  &:active {
    outline: none;
  }
}

.textinput {
  &--large, &--medium, &--small {
    background-color: white;
    border: 3px solid $color-secondary;
    padding: $gutter-small;
    font-size: 25px;
    margin-bottom: $gutter-small;
  }
  &--large {
    width: 100%;
  }
  &--medium {
    width: 60%;
  }
  &--small {
    width: 25%;
  }

  &:focus {
    outline: none;
  }
}

.errors {
  color: darkred;
  font-size: 20px;
  
  > ul {
    margin: 0;
  }

  > p {
    font-weight: 400;
    margin-bottom: $gutter-small;
  }
}