.navigation, .navigation__large {
  background-color: $color-white;
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 100vw;
  align-items: center;
  overflow: hidden;
  border-right: none;
  transition: 0.2s;
  color: $color-secondary;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);

  &__large {
    height: 100vh;
    transition: 0.2s;

    .navigation--links {
      display: flex;
      position: absolute;
      width: 100vw;
      height: 100vh;
      bottom: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 0;
      z-index: 1;
    }
  }

  &--icon-container, &--icon-container__active {
    display: flex;
    align-items: center;
    margin-bottom: $gutter-large;
    color: $color-secondary;

    &__active {
      background-color: $color-primary;
      border-radius: 25px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    }
  }

  &--icon {
    font-size: 50px;

    &-label {
      font-size: 35px;
      margin: 0 20px;
    }
  }

  button {
    background: none;
    outline: none;
    border: none;
    z-index: 10000;
    height: inherit
  }

  &--hambuger, &--cross {
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }
  }

  &--cross {
    transform: rotate(45deg);
  }

  &--content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $gutter-xsmall;
  }

  &--links {
    display: none;
  }

  &--logo--container{
    position: absolute;
    height: 50px;
    right: 15px;
    width: 50px;
  }

  &--logo{
    &-label {display: none;}
  }
}

.projects {
  padding: $gutter-small;
}

.logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 450px) {
  .navigation, .navigation__large {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 90px;
    align-items: center;
    overflow: hidden;
    transition: 0.2s;
    color: $color-secondary;
    z-index: 999;
  
    &__large {
      width: 300px;
      transition: 0.2s;
      .navigation--links {
        position: relative;
        width: auto;
        height: auto;
        align-items: flex-start;
      }
    }
  
    &--content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
    }

    &--links {
      display: block;
    }
  
    &--hambuger, &--cross {
      padding-top: $gutter-small;
      margin-bottom: 50px;
    }
  
    &--logo--container{
      position: absolute;
      bottom: 30px;
      left: 23px;
      display: flex;
      align-items: center;
    }
  
    &--logo {
      padding-right: 7px;
      &-label {
        display: block;
        font-size: 35px;
        margin-left: 5px;
        padding-left: 13px;
        border-left: 3px solid $color-secondary;
      }
    }
  }

  .logout {
    transition: 0.2s;
    position: fixed;
    border-bottom: 3px solid $color-secondary;
    bottom: 100px;
    padding-bottom: 10px;
  }
}