$color-primary: #8a9eba;
$color-secondary: #22272e;

$gutter-large: 40px;
$gutter-medium: 25px;
$gutter-small: 10px;
$gutter-xsmall: 2px;

$border-radius: 15px;
$border-radius-m: 3px;
$border-radius-sm: 2px;