$color-primary: #F5512C;
$color-primary-50: #F5512C80;
$color-secondary: #22272e;
$color-background: #f5f5f5;
$color-white: #FFF;

$color-1: #F5512C;
$color-2: #5520F5;
$color-3: #F5E545;
$color-4: #38F546;
$color-5: #0D8BA8;
$color-6: #2CF5AC;

$color-danger: #BD5146;

$gutter-large: 40px;
$gutter-medium: 25px;
$gutter-small: 10px;
$gutter-xsmall: 2px;

$border-radius: 10px;
$border-radius-m: 3px;
$border-radius-sm: 2px;