* {
    font-family: 'Rubik', sans-serif;
}

.container {
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.image {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5512c;
}

.image p {
    font-size: 25px;
    padding: 25px;
    width: 50%;
    text-align: center;
}

.image svg {
    width: 30%;
}

.content {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content p {
    width: 80%;
    font-size: 25px;
    text-align: center
}

.content img {
    width: 80%;
    margin-bottom: 25px;
}

.content svg {
    display: none;
}

@media screen and (max-width: 499px) {
    .container {
        flex-direction: column;
    }

    .image {
        display: none;
    }

    .content {
        width: 100vw;
        height: 100vh;
    }

    .content svg {
        display: block;
        width: 30%;
        border-bottom: 1px solid #343a40;
        margin-bottom: 20px;
        padding-bottom: 20px;
        padding-right: 80px;
        padding-left: 80px;
    }
}

