*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-background;
}


.content {
  margin-left: 90px;
  margin-bottom: 50px;
  padding: $gutter-medium;
}

@media screen and (max-width: 449px) {
  .content {
    margin: 0;
    margin-bottom: 70px;
  }
}