.profile-edit {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  &--spotify-btn {
    padding: 20px;
    border-radius: 99px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    background-color: #1db954;
    margin-bottom: $gutter-small;
  }
}

@media screen and (max-width: 799px) {
  .profile-edit {
    width: 80%;
  }
}

@media screen and (max-width: 449px) {
  .profile-edit {
    width: 100%;
  }
}