.pagetitle {
  margin-left: 90px;
  padding: $gutter-medium;
  border-bottom: 3px solid $color-secondary;
  text-transform: capitalize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--seperator {
    height: 40px;
    width: 3px;
    background-color: $color-secondary;
    margin: 0 $gutter-small;
  }

  &--title {
    > h1 {
      margin-bottom: 0;
      margin-right: 15px;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
    svg {
      font-size: 35px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &--closebtn a {
    color: $color-danger;
    font-size: 40px;
    border-radius: 100%;
  }
}

@media screen and (max-width: 449px) {
  .pagetitle {
    margin: 0;
    margin-top: 60px;
    flex-direction: column-reverse;
  }
}