.pile, .pile__dragging {
  // width: 33%;
  margin: 20px 10px;
  &--card, &--card__example {
    margin: $gutter-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
    &__example {
      > span {
        padding: calc(#{$gutter-small} - 3px);
      }
      border: 3px dotted $color-secondary;
    }

    &--column {
      flex-direction: column;
      align-items: flex-start;
    }

    &--header {
      margin-bottom: $gutter-medium;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; 
      &--title {
        text-transform: capitalize;
      }
    }

    &--play {
      font-size: 60px;
      border-radius: 50%;
      background-color: $color-white;
    }

    img {
      width: 100%;
    }

    a {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
    }

    &--author {
      font-size: 14px;
      margin-top: 25px;

      img {
        width: 3rem;
        height: 3rem;
        border-radius: 100% 100% 100% $border-radius;
        object-fit: cover;
        object-position: center;
      }
    }

    ul {
      margin-left: 15px;
    }
  }
  &--icon {
    font-size: 30px;
    margin-left: $gutter-small;

    &:hover {
      cursor: pointer;
    }
  }

  &--actions {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__dragging {
    border: 3px dotted $color-secondary;
    border-radius: $border-radius;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);

    > .card {
      margin: calc(#{$gutter-small} - 3px);
    }
  }
}

@media screen and (max-width: 449px) {
  .pile {
    width: 100%;
  }
}