.pile {
  width: 33%;
  &--card {
    margin: $gutter-small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &--icon {
    font-size: 30px;
  }
}

@media screen and (max-width: 449px) {
  .pile {
    width: 100%;
  }
}